<head>
  <title>Mi paginon</title>
</head>
<body>
  <style>
    h1 {
      font-family: "Arial";
      margin-top: 30px;
      margin-left: 30px;
    }
    h2 {
      font-family: "Arial";
      margin-top: 50px;
      margin-left: 30px;
    }
  </style>
  <h1> Compra dolar blue: ${{dlc}} </h1>
  <h1> Venta dolar blue: ${{dlv}} </h1>
  <h2>Datos sacados de https://dolarapi.com</h2>
</body>
